# FastAPI 서버 관련
fastapi
uvicorn

# MusicGen + 오디오 처리
torch==2.1.0+cu121
torchaudio==2.1.0
audiocraft==1.3.0
scipy
numpy
ffmpeg-python
pydub
librosa
soundfile
encodec==0.1.1
einops

# 파일 업로드 및 멀티파트 처리
python-multipart

# 기타 의존성
requests
